
.first {
  position: relative;
  left: 300px;
  top: 100px;
  transform: rotate(60deg);

}
.third {
  transform: rotate(-30deg);
}
.second {
  position: relative;
  top: -100px;
  left: 150px;
}

.four {
  position: relative;
  top: -250px;
  left: 200px;
}
