
.askadev {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  border: black 1px solid;
}

.r20 {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}

.pull-right {
  float:right;
}

.img {
  z-index: -999;
}

.r90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.r45 {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}
