.first {
  float:right;
  top: -50px;
  position: relative;
}
.second {
  left: 30px;
  position: relative;
}
.bars {
  transform: rotate(90deg);
  position: relative;
  top: 50px;
  left: 40px;
}

.third {
  position: relative;

}

.four {
  position: relative;
}
