html, 
body {
    height: 100%;
}

body {
  font-family: "Massimo", monospace;
  
}
.home {
background-color: blue;
height: 100%;
width: 100%;
color: white;
}

#root {
  height: 100%;
  width: 100%;
  clear: both;
}

a:link {
  color: black;
  background-color: #EEE553;
  padding-top: 5px;
  padding-bottom: 5px;

}

a:hover {
  color: #F9939A;
}

#runnin {

  width: 200px;
}

#organize {
  display: flex;
}

#organize h1 {
  font-size: 130px;
  font-family: "Massimo";
}

@font-face {
  font-family: Massimo;
  src: url(MassimoGrafia-Regular.woff);
}

#root {
  background-color: #EEE553;
}
.App {
  text-align: center;
  clear: both;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container>div {
  flex: 0 50%;
  /*demo*/
   box-sizing:border-box;
}

.chosen {
    position: fixed;
    bottom: 0;
    right: 0;
}

.gen {
    background-color: #EEE553;  
}

html, 
body {
    height: 100%;
}

.new {

    font-size: 40px;
}