body {
  background-color: blue;
  color: white;
  font-family: "Massimo", monospace;
  
}

a:link {
  color: black;
  background-color: #EEE553;
  padding-top: 5px;
  padding-bottom: 5px;

}

a:hover {
  color: #F9939A;
}

#runnin {

  width: 200px;
}

#organize {
  display: flex;
}

#organize h1 {
  font-size: 130px;
  font-family: "Massimo";
}

@font-face {
  font-family: Massimo;
  src: url(MassimoGrafia-Regular.woff);
}
